AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_ENDPOINT_URL=https://<account_id>.r2.cloudflarestorage.com
AWS_REGION=auto
AWS_BUCKET_NAME=videos

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_VIDEO_TOPIC=video-transcode-jobs
KAFKA_CONSUMER_GROUP=video-transcoder-group

FFMPEG_BINARY=ffmpeg
FFPROBE_BINARY=ffprobe
TRANSCODE_WORKDIR=/tmp/video-transcoder
HLS_SEGMENT_SECONDS=4

VIDEO_SERVICE_BASE_URL=http://127.0.0.1:8000
VIDEO_SERVICE_TIMEOUT_SECONDS=20
